<section id="scene" data-relative-input="true" class="mod-pageheader d-flex align-items-center {% if item.achtergrond %} minheight {% endif %}">
	<div class="bg js-parallax" style="background-image: url({{ item.achtergrond }});"> </div>
  <div class="content w-100">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
	        {% if item.afbeelding %} 
	        	<img src="{{ item.afbeelding }}" class="theimage">
	        {% endif %}	
					{% if item.titel %} 
          	<h2 class="h1"> {{ item.titel }} </h2>
          {% endif %} 
          {% if item.tekst %} 
          	<p class="h2 mb-1 font-weight-bold text-white"> {{ item.tekst }} </p>
          {% endif %}
          {% if item.link %}
            <a href="{{ item.link.url }}" class="btn-primary"> {{ item.link.title }} </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <a data-depth="0.8"  href="" class="scrolldown js-scrolltonextsection">
  	<div class="bol">
  		<i class="fal fa-chevron-down"></i>
  	</div> 
  </a>
</section>