<section id="scene" data-relative-input="true" class="mod-pageheader d-flex align-items-end {% if item.achtergrond %} minheight {% endif %}">
	<div data-depth="0.6" class="bg" style="background-image: url({{ item.achtergrond }});"> </div>
  <div data-depth="0.2" class="content w-100">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
	        {% if item.afbeelding %} 
	        	<img src="{{ item.afbeelding }}" class="theimage">
	        {% endif %}	
					{% if item.titel %} 
          	<h2 class="h1"> <i>{{ item.titel }} </i></h2>
          {% endif %} 
          {% if item.tekst %} 
          	<p class="lead"> {{ item.tekst }} </p>
          {% endif %}
          {% if item.btn_show %}
            <a href="{{ item.btn_link }}" class="btn-round"> {{ item.btn_label }} </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <a data-depth="0.8"  href="" class="scrolldown js-scrolltonextsection">
  	<div class="bol">
  		<i class="fal fa-chevron-down"></i>
  	</div> 
  </a>
</section>