<a href="{{ post.link }}" class="tease tease-{{post.post_type}}" id="tease-{{post.ID}}">
	<div class="front">
		<div class="background" style="background-image: url({{ Image(post.thumbnail).src|resize(1024) }})">
	</div>
		<div class="image" style="background-image: url({{ Image(post.logo).src }})"></div>
	</div>
	<div class="content">
		{% if post.naam %}
			<p class="mb-2">{{ post.naam }}</p>
		{% endif %}
		<h2 class="h4 mt-0 text-white">
			{{ post.title }}
		</h2>
		
		<div class="bol">
			<i class="fal fa-chevron-right"></i>
		</div> 
	</div>
</a>